
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var username = (string)this.ViewContext.RouteData.Values["username"];
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2 navbar-user" id="navbar-user">
            <nav class="navbar navbar-default navbar-fixed-side">
                <ul class="nav left-side-nav">
                    <li><a href="/user/profile/@username">@Resources.User.Labels.Profile</a></li>
                    <li><a href="/">@Resources.User.Labels.Trips</a></li>
                    <li><a href="/user/reviews/@username">@Resources.User.Labels.Reviews</a></li>
                    <li><a href="/user/messages/@username">@Resources.User.Labels.Messages</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
            @RenderBody()
        </div>
    </div>
</div>