@model TripViewModel

@{
    Layout = null;
}

<div class="trip-item row trips-wrapper box-shadow">
    <div class="col col-md-6 col-sm-6 col-xs-12">
        <a href="/trips/details/@this.Model.Id">
            <div class="meta-image text-center">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(this.Model.CoverImage)" class="img-responsive resizable" />
            </div>
        </a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <h4>
            <a href="/trips/details/@this.Model.Id">
                @this.Model.Name
            </a>
        </h4>

        <div class="info">
            @Resources.Labels.Location:
            <span>@this.Model.Location</span>
        </div>
        <div class="info">
            @Resources.Labels.StartDate:
            <span>@this.Model.StartDate.ToString("dd.MM.yyyy")</span>
        </div>
        <a href="/user/profile/@this.Model.OrganiserUsername">
            <div class="info">
                @Resources.Labels.Organizer:
                <span class="hyperlink">@this.Model.OrganiserFirstName @this.Model.OrganiserLastName</span>
            </div>
        </a>
    </div>
</div>
