@model HomeViewModel

@{
    ViewBag.Title = Resources.Index.TitleLbl;
}

@section heading {
    <div class="img-wrapper container">
        <div class="row">
            <div class="col-md-12 col-img">
                <img class="main-img img-responsive" src="/Content/Images/main-image.jpg" />
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12 main-container trips-container text-center box-shadow">
                <div class="head box-shadow">
                    <h3>@Resources.Index.LastAddedTripsLbl</h3>
                </div>

                <div class="main">
                    @foreach (var trip in this.Model.Trips)
                    {
                        Html.RenderPartial("_TripItemPartial", trip);
                    }
                </div>

                <div class="row  stats-item">
                    <div class="col-md-6">
                        <label>@Resources.Index.UploadedTripsLbl: </label>
                        <span class="statistics">
                            <span>@this.Model.AllTripsCount</span>
                        </span>
                    </div>
                    <div class="col-md-6">
                        <label>@Resources.Index.RegisteredUsersLbl: </label>
                        <span class="statistics">
                            <span>@this.Model.AllUsersCount</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        @{Html.RenderAction("Index", "NavigationPartial");}
    </div>
</div>